
/* this file is genetared automatically, never modify it manually! */
:root {
  --lux-color-opacity: 1;
  --tw-bg-opacity: 1;

  /* -------------------- base define -------------------- */
  --lux-light-blue-default: rgba(0, 0, 0, 1);
  --lux-light-blue-light1: rgba(66, 73, 98, 1);
  --lux-light-blue-light-1: rgba(66, 73, 98, 1);
  --lux-light-blue-light2: rgba(66, 73, 98, 1);
  --lux-light-blue-light-2: rgba(66, 73, 98, 1);
  --lux-light-blue-disable: rgba(76, 86, 133, 1);
  --lux-light-green-default: rgba(42, 187, 127, 1);
  --lux-light-green-light: rgba(57, 90, 90, 1);
  --lux-light-orange-default: rgba(255, 198, 74, 1);
  --lux-light-orange-light: rgba(72, 67, 57, 1);
  --lux-light-red-default: rgba(239, 92, 72, 1);
  --lux-light-red-light: rgba(79, 58, 66, 1);
  --lux-light-red-dark: rgba(174, 42, 25, 1);
  --lux-light-red-light2: rgba(79, 58, 66, 1);
  --lux-light-red-light-2: rgba(79, 58, 66, 1);
  --lux-light-neutral-title1: rgba(247, 250, 252, 1);
  --lux-light-neutral-title-1: rgba(247, 250, 252, 1);
  --lux-light-neutral-body: rgba(211, 216, 224, 1);
  --lux-light-neutral-foot: rgba(186, 190, 197, 1);
  --lux-light-neutral-line: rgba(255, 255, 255, 0.1);
  --lux-light-neutral-bg1: rgba(0, 0, 0, 1);
  --lux-light-neutral-bg-1: rgba(0, 0, 0, 1);
  --lux-light-neutral-bg2: rgba(28, 31, 43, 1);
  --lux-light-neutral-bg-2: rgba(0, 0, 0, 1);
  --lux-light-neutral-bg3: rgba(28, 31, 43, 1);
  --lux-light-neutral-bg-3: rgba(28, 31, 43, 1);
  --lux-light-neutral-bg-4: rgba(32, 36, 54, 1);
  --lux-light-neutral-card1: rgba(255, 255, 255, 0.06);
  --lux-light-neutral-card-1: rgba(255, 255, 255, 0.06);
  --lux-light-neutral-card2: rgba(255, 255, 255, 0.06);
  --lux-light-neutral-card-2: rgba(255, 255, 255, 0.06);
  --lux-light-neutral-card3: rgba(255, 255, 255, 0.06);
  --lux-light-neutral-card-3: rgba(255, 255, 255, 0.06);
  --lux-light-neutral-title2: rgba(255, 255, 255, 1);
  --lux-light-neutral-title-2: rgba(255, 255, 255, 1);
  --lux-light-neutral-black: rgba(0, 0, 0, 1);

  --lux-dark-blue-default: rgba(112, 132, 255, 1);
  --lux-dark-blue-light1: rgba(238, 241, 255, 1);
  --lux-dark-blue-light-1: rgba(238, 241, 255, 1);
  --lux-dark-blue-light2: rgba(222, 227, 252, 1);
  --lux-dark-blue-light-2: rgba(222, 227, 252, 1);
  --lux-dark-blue-disable: rgba(219, 224, 255, 1);
  --lux-dark-green-default: rgba(42, 187, 127, 1);
  --lux-dark-green-light: rgba(216, 242, 231, 1);
  --lux-dark-orange-default: rgba(255, 176, 32, 1);
  --lux-dark-orange-light: rgba(255, 245, 226, 1);
  --lux-dark-red-default: rgba(227, 73, 53, 1);
  --lux-dark-red-light: rgba(255, 242, 240, 1);
  --lux-dark-red-dark: rgba(174, 42, 25, 1);
  --lux-dark-red-light2: rgba(239, 212, 209, 1);
  --lux-dark-red-light-2: rgba(239, 212, 209, 1);
  --lux-dark-neutral-title1: rgba(25, 41, 69, 1);
  --lux-dark-neutral-title-1: rgba(25, 41, 69, 1);
  --lux-dark-neutral-body: rgba(62, 73, 94, 1);
  --lux-dark-neutral-foot: rgba(106, 117, 135, 1);
  --lux-dark-neutral-line: rgba(211, 216, 224, 1);
  --lux-dark-neutral-bg1: rgba(255, 255, 255, 1);
  --lux-dark-neutral-bg-1: rgba(255, 255, 255, 1);
  --lux-dark-neutral-bg2: rgba(242, 244, 247, 1);
  --lux-dark-neutral-bg-2: rgba(242, 244, 247, 1);
  --lux-dark-neutral-bg3: rgba(247, 250, 252, 1);
  --lux-dark-neutral-bg-3: rgba(247, 250, 252, 1);
  --lux-dark-neutral-bg-4: rgba(235, 238, 247, 1);
  --lux-dark-neutral-card1: rgba(255, 255, 255, 1);
  --lux-dark-neutral-card-1: rgba(255, 255, 255, 1);
  --lux-dark-neutral-card2: rgba(242, 244, 247, 1);
  --lux-dark-neutral-card-2: rgba(242, 244, 247, 1);
  --lux-dark-neutral-card3: rgba(247, 250, 252, 1);
  --lux-dark-neutral-card-3: rgba(247, 250, 252, 1);
  --lux-dark-neutral-title2: rgba(255, 255, 255, 1);
  --lux-dark-neutral-title-2: rgba(255, 255, 255, 1);
  --lux-dark-neutral-black: rgba(0, 0, 0, 1);
}

:root {
  /* -------------------- light mode -------------------- */
  --l-blue-default-rgb: 0, 0, 0;
  --l-blue-default: var(--lux-light-blue-default);
  --l-blue-light1-rgb: 66, 73, 98;
  --l-blue-light1: var(--lux-light-blue-light1);
  --l-blue-light-1-rgb: 66, 73, 98;
  --l-blue-light-1: var(--lux-light-blue-light-1);
  --l-blue-light2-rgb: 66, 73, 98;
  --l-blue-light2: var(--lux-light-blue-light2);
  --l-blue-light-2-rgb: 66, 73, 98;
  --l-blue-light-2: var(--lux-light-blue-light-2);
  --l-blue-disable-rgb: 76, 86, 133;
  --l-blue-disable: var(--lux-light-blue-disable);
  --l-green-default-rgb: 42, 187, 127;
  --l-green-default: var(--lux-light-green-default);
  --l-green-light-rgb: 57, 90, 90;
  --l-green-light: var(--lux-light-green-light);
  --l-orange-default-rgb: 255, 198, 74;
  --l-orange-default: var(--lux-light-orange-default);
  --l-orange-light-rgb: 72, 67, 57;
  --l-orange-light: var(--lux-light-orange-light);
  --l-red-default-rgb: 239, 92, 72;
  --l-red-default: var(--lux-light-red-default);
  --l-red-light-rgb: 79, 58, 66;
  --l-red-light: var(--lux-light-red-light);
  --l-red-dark-rgb: 174, 42, 25;
  --l-red-dark: var(--lux-light-red-dark);
  --l-red-light2-rgb: 79, 58, 66;
  --l-red-light2: var(--lux-light-red-light2);
  --l-red-light-2-rgb: 79, 58, 66;
  --l-red-light-2: var(--lux-light-red-light-2);
  --l-neutral-title1-rgb: 247, 250, 252;
  --l-neutral-title1: var(--lux-light-neutral-title1);
  --l-neutral-title-1-rgb: 247, 250, 252;
  --l-neutral-title-1: var(--lux-light-neutral-title-1);
  --l-neutral-body-rgb: 211, 216, 224;
  --l-neutral-body: var(--lux-light-neutral-body);
  --l-neutral-foot-rgb: 186, 190, 197;
  --l-neutral-foot: var(--lux-light-neutral-foot);
  --l-neutral-line-rgb: 255, 255, 255;
  --l-neutral-line: var(--lux-light-neutral-line);
  --l-neutral-bg1-rgb: 0, 0, 0;
  --l-neutral-bg1: var(--lux-light-neutral-bg1);
  --l-neutral-bg-1-rgb: 0, 0, 0;
  --l-neutral-bg-1: var(--lux-light-neutral-bg-1);
  --l-neutral-bg2-rgb: 28, 31, 43;
  --l-neutral-bg2: var(--lux-light-neutral-bg2);
  --l-neutral-bg-2-rgb: 0, 0, 0;
  --l-neutral-bg-2: var(--lux-light-neutral-bg-2);
  --l-neutral-bg3-rgb: 28, 31, 43;
  --l-neutral-bg3: var(--lux-light-neutral-bg3);
  --l-neutral-bg-3-rgb: 28, 31, 43;
  --l-neutral-bg-3: var(--lux-light-neutral-bg-3);
  --l-neutral-bg-4-rgb: 32, 36, 54;
  --l-neutral-bg-4: var(--lux-light-neutral-bg-4);
  --l-neutral-card1-rgb: 255, 255, 255;
  --l-neutral-card1: var(--lux-light-neutral-card1);
  --l-neutral-card-1-rgb: 255, 255, 255;
  --l-neutral-card-1: var(--lux-light-neutral-card-1);
  --l-neutral-card2-rgb: 255, 255, 255;
  --l-neutral-card2: var(--lux-light-neutral-card2);
  --l-neutral-card-2-rgb: 255, 255, 255;
  --l-neutral-card-2: var(--lux-light-neutral-card-2);
  --l-neutral-card3-rgb: 255, 255, 255;
  --l-neutral-card3: var(--lux-light-neutral-card3);
  --l-neutral-card-3-rgb: 255, 255, 255;
  --l-neutral-card-3: var(--lux-light-neutral-card-3);
  --l-neutral-title2-rgb: 255, 255, 255;
  --l-neutral-title2: var(--lux-light-neutral-title2);
  --l-neutral-title-2-rgb: 255, 255, 255;
  --l-neutral-title-2: var(--lux-light-neutral-title-2);
  --l-neutral-black-rgb: 0, 0, 0;
  --l-neutral-black: var(--lux-light-neutral-black);
}

html.dark, body.dark {
  /* -------------------- dark mode -------------------- */
  --l-blue-default-rgb: 112, 132, 255;
  --l-blue-default: var(--lux-dark-blue-default);
  --l-blue-light1-rgb: 238, 241, 255;
  --l-blue-light1: var(--lux-dark-blue-light1);
  --l-blue-light-1-rgb: 238, 241, 255;
  --l-blue-light-1: var(--lux-dark-blue-light-1);
  --l-blue-light2-rgb: 222, 227, 252;
  --l-blue-light2: var(--lux-dark-blue-light2);
  --l-blue-light-2-rgb: 222, 227, 252;
  --l-blue-light-2: var(--lux-dark-blue-light-2);
  --l-blue-disable-rgb: 219, 224, 255;
  --l-blue-disable: var(--lux-dark-blue-disable);
  --l-green-default-rgb: 42, 187, 127;
  --l-green-default: var(--lux-dark-green-default);
  --l-green-light-rgb: 216, 242, 231;
  --l-green-light: var(--lux-dark-green-light);
  --l-orange-default-rgb: 255, 176, 32;
  --l-orange-default: var(--lux-dark-orange-default);
  --l-orange-light-rgb: 255, 245, 226;
  --l-orange-light: var(--lux-dark-orange-light);
  --l-red-default-rgb: 227, 73, 53;
  --l-red-default: var(--lux-dark-red-default);
  --l-red-light-rgb: 255, 242, 240;
  --l-red-light: var(--lux-dark-red-light);
  --l-red-dark-rgb: 174, 42, 25;
  --l-red-dark: var(--lux-dark-red-dark);
  --l-red-light2-rgb: 239, 212, 209;
  --l-red-light2: var(--lux-dark-red-light2);
  --l-red-light-2-rgb: 239, 212, 209;
  --l-red-light-2: var(--lux-dark-red-light-2);
  --l-neutral-title1-rgb: 25, 41, 69;
  --l-neutral-title1: var(--lux-dark-neutral-title1);
  --l-neutral-title-1-rgb: 25, 41, 69;
  --l-neutral-title-1: var(--lux-dark-neutral-title-1);
  --l-neutral-body-rgb: 62, 73, 94;
  --l-neutral-body: var(--lux-dark-neutral-body);
  --l-neutral-foot-rgb: 106, 117, 135;
  --l-neutral-foot: var(--lux-dark-neutral-foot);
  --l-neutral-line-rgb: 211, 216, 224;
  --l-neutral-line: var(--lux-dark-neutral-line);
  --l-neutral-bg1-rgb: 255, 255, 255;
  --l-neutral-bg1: var(--lux-dark-neutral-bg1);
  --l-neutral-bg-1-rgb: 255, 255, 255;
  --l-neutral-bg-1: var(--lux-dark-neutral-bg-1);
  --l-neutral-bg2-rgb: 242, 244, 247;
  --l-neutral-bg2: var(--lux-dark-neutral-bg2);
  --l-neutral-bg-2-rgb: 242, 244, 247;
  --l-neutral-bg-2: var(--lux-dark-neutral-bg-2);
  --l-neutral-bg3-rgb: 247, 250, 252;
  --l-neutral-bg3: var(--lux-dark-neutral-bg3);
  --l-neutral-bg-3-rgb: 247, 250, 252;
  --l-neutral-bg-3: var(--lux-dark-neutral-bg-3);
  --l-neutral-bg-4-rgb: 235, 238, 247;
  --l-neutral-bg-4: var(--lux-dark-neutral-bg-4);
  --l-neutral-card1-rgb: 255, 255, 255;
  --l-neutral-card1: var(--lux-dark-neutral-card1);
  --l-neutral-card-1-rgb: 255, 255, 255;
  --l-neutral-card-1: var(--lux-dark-neutral-card-1);
  --l-neutral-card2-rgb: 242, 244, 247;
  --l-neutral-card2: var(--lux-dark-neutral-card2);
  --l-neutral-card-2-rgb: 242, 244, 247;
  --l-neutral-card-2: var(--lux-dark-neutral-card-2);
  --l-neutral-card3-rgb: 247, 250, 252;
  --l-neutral-card3: var(--lux-dark-neutral-card3);
  --l-neutral-card-3-rgb: 247, 250, 252;
  --l-neutral-card-3: var(--lux-dark-neutral-card-3);
  --l-neutral-title2-rgb: 255, 255, 255;
  --l-neutral-title2: var(--lux-dark-neutral-title2);
  --l-neutral-title-2-rgb: 255, 255, 255;
  --l-neutral-title-2: var(--lux-dark-neutral-title-2);
  --l-neutral-black-rgb: 0, 0, 0;
  --l-neutral-black: var(--lux-dark-neutral-black);
}

